body {
    margin:0px;
    padding:0px;
    font-family: Noto Sans,sans-serif;
    background-color: #0d0d0d;
}
nav {
    font-size: 2em;
    margin: inherit;
    color: #d9d9d9;
    text-align: center;
    background-color: #1f1f1f;
}
div {
    padding: 10px;
    text-align: center;
    color: #d9d9d9;
    margin: 0 auto;
    background-color: #1f1f1f;
}
.navi {
    margin-top: -1px;
}
.disp {
    margin-top: 10px;
}
h1 {
    margin: 0px;
}
form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
input {
    font-family: inherit;
    font-size: 1em;
    color: #d9d9d9;
    background-color: #4d4d4d;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 0;
    height: 40px;
    padding: 0 0.1em 0 1em;
}
input:focus {
    outline: none;
}
img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
}
button {
    font-family: inherit;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 1em;
    color: #d9d9d9;
    background-color: #ed2553;
    height: 40px;
    border: 0;
    margin-left: -4px;
}
#link {
    font-size: 3em;
    color: #ed2553;
    text-decoration: none;
}
.CORS {
    margin: inherit;
    color: #ed2553;
}